.book-title {
	background-color: #969696;
	margin-top: 150px;
	margin-left: 30;
	margin-right: 30;
	text-align: center;
	font-size: 24pt;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 10px;
	color: white;
}

.book-author {
	text-align: center;
}

.page-title {
	text-align: center;
	font-size: 30pt;
	margin-top: 10px;
}

.page-content {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20pt;
}

.page-impress-content {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20pt;
}